.pd-2 {
  padding: 2rem;
}
.py-1 {
  padding: 1rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.grid-inherit {
  width: 100% !important;
  margin: 0 !important;
}
.btn-add {
  width: 48px;
  min-width: auto !important;
  height: 48px !important;
  border-radius: 50% !important;
}
.card {
  width: 200px;
  height: 120px;
  border: 1px solid lightblue;
  border-radius: 5px;
  cursor: pointer;
}
.childCam-box {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
.list-card {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  max-height: 260px;
  overflow: auto;
}
.grid-item {
  padding: 1rem 0 !important;
  width: 100% !important;
  margin: 0 !important;
}
.flex-box,
.flex-box-item-big,
.flex-box-item-small {
  display: flex;
  align-items: end;
}
.flex-box {
  gap: 1rem;
  flex-flow: row wrap;
  justify-content: space-between;
}
.flex-box-item-small {
  min-width: 50px;
}
.flex-box-item-small:last-child {
  min-width: 100px;
  justify-content: end;
}
.flex-box-item-big {
  min-width: 42%;
}
